<a href="https://colab.research.google.com/github/arvinampongan/Datastruc/blob/main/Python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **Python Basics**



---

# Variables

In [ ]:
a = 2
b = 4
c = 8
d = 10
print(a+b+c+d)

24

# Naming Convention

In [ ]:
a = 1
__a = 2
__A = 3
a12 = 4
# 12a = 4  in naming variables this will display error
print(a)
print(__a)
print(__A)
print(a12)

1
2
3
4

# Type Error

In [ ]:
ab = "23"
ba = "23"
cd = " "
print(ab + cd + ba)

23 23

# Sequence indexing

In [ ]:
names = ["Toper", "Maya","Ryan","Gagan"]
print(names[0])
print(names[1])
print(names[2])
print(names[3])

Toper
Maya
Ryan
Gagan

# Sequence Slicing

In [ ]:
names = ["Toper", "Maya","Ryan","Gagan"]
print(names[0:2])
print(names[0:3])
print(names[0:4])

['Toper', 'Maya']
['Toper', 'Maya', 'Ryan']
['Toper', 'Maya', 'Ryan', 'Gagan']

# Negative slicing

In [ ]:
names = ["Toper", "Maya","Ryan","Gagan"]
print(names[-3])

Maya

# Item picking in the list

In [ ]:
names = ["Toper", "Maya","Ryan","Gagan"]
print(names[::1])
print(names[::2])
print(names[1:2:2]) # start : end : step

['Toper', 'Maya', 'Ryan', 'Gagan']
['Toper', 'Ryan']
['Maya']

# Range

In [ ]:
my_range = range(1,10)
print(my_range)
print (list(my_range))

range(1, 10)
[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Removing duplicates in a list

In [ ]:
a = ["1" , 1 , "1" , 2]
a = list(set(a))
print(a)

[1, 2, '1']

# Dictionary

In [ ]:
d = {"a":1 , "b" :2}
d = dict(a = 1 , b = 2)
print(d)
print(d["a"])

{'a': 1, 'b': 2}
1

# Adding two variables in dictionary

In [ ]:
d = dict(a = 1 , b = 2)
print (d["a"] * d["b"]) # * = multiplication, / = division, - = substraction, + addition, % modulo operator

2

# Adding a dictionary values in a present dictionary

In [ ]:
d = dict(a = 1 , b = 2)
d["c"] = 3
print(d)

{'a': 1, 'b': 2, 'c': 3}

# Applying Functions to Dictionary

In [ ]:
d = dict(a = 1 , b = 2, c = 3)
print(sum(d.values()))
print(max(d.values()))
print(min(d.values()))

6
3
1

# Printing alphabets

In [ ]:
import string
print (string.ascii_lowercase)
print (string.ascii_uppercase)

#same method
for letter in string.ascii_lowercase:
  print(letter)

abcdefghijklmnopqrstuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ
a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z